### Déjame escuchar la música
Contenido 
•	Introducción
•	Etapa 1. Descripción de los datos
	Conclusiones
•	Etapa 2. Preprocesamiento de datos
	2.1 Estilo del encabezado
	2.2 Valores ausentes
	2.3 Duplicados
	2.4 Conclusiones
•	Etapa 3. Prueba de hipótesis
	3.1 Hipótesis 1: actividad de los usuarios y las usuarias en las dos ciudades
•	Conclusiones

### Introducción <a id='intro'></a>
Como analista de datos, tu trabajo consiste en analizar datos para extraer información valiosa y tomar decisiones basadas en ellos. Esto implica diferentes etapas, como la descripción general de los datos, el preprocesamiento y la prueba de hipótesis.

Siempre que investigamos, necesitamos formular hipótesis que después podamos probar. A veces aceptamos estas hipótesis; otras veces, las rechazamos. Para tomar las decisiones correctas, una empresa debe ser capaz de entender si está haciendo las suposiciones correctas.

En este proyecto, compararás las preferencias musicales de las ciudades de Springfield y Shelbyville. Estudiarás datos reales de transmisión de música online para probar la hipótesis a continuación y comparar el comportamiento de los usuarios y las usuarias de estas dos ciudades.

### Objetivo:
Prueba la hipótesis:
1. La actividad de los usuarios y las usuarias difiere según el día de la semana y dependiendo de la ciudad.


### Etapas
Los datos del comportamiento del usuario se almacenan en el archivo `/datasets/music_project_en.csv`. No hay ninguna información sobre la calidad de los datos, así que necesitarás examinarlos antes de probar la hipótesis.

Primero, evaluarás la calidad de los datos y verás si los problemas son significativos. Entonces, durante el preprocesamiento de datos, tomarás en cuenta los problemas más críticos.

Tu proyecto consistirá en tres etapas:
 1. Descripción de los datos.
 2. Preprocesamiento de datos.
 3. Prueba de hipótesis.
Volver a Contenidos

### 2  Etapa 1. Descripción de los datos 
Abre los datos y examínalos.
Necesitarás pandas, así que impórtalo.

In [3]:
# Importar pandas
import pandas as pd

# Lee el archivo music_project_en.csv de la carpeta /datasets/ y guárdalo en la variable df:
# Leer el archivo y almacenarlo en df
df = pd.read_csv('C:/Users/Usuario/Desktop/Triple Ten Data Analist/Proyecto Sprint 3/music_project_en.csv')
# Muestra las 10 primeras filas de la tabla:
print(df.head(10))

     userID                        Track            artist   genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile    rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg    rock
2    20EC38            Funiculì funiculà       Mario Lanza     pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice    folk
4  E2DC1FAE                  Soul People        Space Echo   dance
5  842029A1                       Chains          Obladaet  rusrap
6  4CB90AA5                         True      Roman Messer   dance
7  F03E1C1F             Feeling This Way   Polina Griffith   dance
8  8FA1D3BE                     L’estate       Julia Dalia  ruspop
9  E772D5C0                    Pessimist               NaN   dance

        City        time        Day
0  Shelbyville  20:28:33  Wednesday
1  Springfield  14:07:09     Friday
2  Shelbyville  20:58:07  Wednesday
3  Shelbyville  08:37:09     Monday
4  Springfield  08:34:34     Monday
5  Shelbyville  13:09:41     Friday
6  Springfield  13:00:07  Wednesday
7  Springfield  20:47:49  Wednesday
8  Springfield  09:17:40     Friday
9  Shelbyville  21:20:49  Wednesday

In [4]:
# Obtén la información general sobre la tabla con un comando. 
# Conoces el método que muestra la información general que necesitamos.
# Obtener la información general sobre nuestros datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

Estas son nuestras observaciones sobre la tabla. Contiene siete columnas. Almacenan los mismos tipos de datos: object.
Según la documentación:

•	' userID': identificador del usuario o la usuaria;

•	'Track': título de la canción;

•	'artist': nombre del artista;

•	'genre': género de la pista;

•	'City': ciudad del usuario o la usuaria;

•	'time': la hora exacta en la que se reprodujo la canción;

•	'Day': día de la semana.

Podemos ver tres problemas con el estilo en los encabezados de la tabla:

1.	Algunos encabezados están en mayúsculas, otros en minúsculas.

2.	Hay espacios en algunos encabezados.

3.	el titulo de userID esta todo junto, al ser 2 palabras o mas se recomienda esten separadas por un guion bajo

### 2.1  Escribe observaciones de tu parte. Estas son algunas de las preguntas que pueden ser útiles: 
1. ¿Qué tipo de datos tenemos a nuestra disposición en las filas? ¿Y cómo podemos entender lo que almacenan las columnas? Los titulos de las columnas dejan claro el contenido, posiblemente la columna time pudiera ser un problema sino tuvieramos acceso a la descripcion del contenido.
2. ¿Hay suficientes datos para proporcionar respuestas a nuestra hipótesis o necesitamos más información? considero que existen los datos necesarios para proportionar respuesta a las hipotesis establecidas
3. ¿Notaste algún problema en los datos, como valores ausentes, duplicados o tipos de datos incorrectos? existen valores ausentes en Track, Artist y genre, necesitamos hacer una consulta para duplicados y erroneos para determinar si estos existen y que tanto afectan la muestra.
Volver a Contenidos

### 3  Etapa 2. Preprocesamiento de datos 
El objetivo aquí es preparar los datos para que sean analizados. El primer paso es resolver cualquier problema con los encabezados. Luego podemos avanzar a los valores ausentes y duplicados. Empecemos.
Corrige el formato en los encabezados de la tabla.

In [5]:
# 3.1  Estilo del encabezado 
# Muestra los encabezados de la tabla (los nombres de las columnas):

column_names = df.columns
print(column_names)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

### Cambia los encabezados de la tabla de acuerdo con las reglas del buen estilo:
•	Todos los caracteres deben ser minúsculas.

•	Elimina los espacios.

•	Si el nombre tiene varias palabras, utiliza snake_case.

Anteriormente, aprendiste acerca de la forma automática de cambiar el nombre de las columnas. Vamos a aplicarla ahora. Utiliza el bucle for para iterar sobre los nombres de las columnas y poner todos los caracteres en minúsculas. Cuando hayas terminado, vuelve a mostrar los encabezados de la tabla:

In [7]:
# Bucle en los encabezados poniendo todo en minúsculas
new_col_names = [] #Lista para los nombres optimizados
for name_columns in df.columns: #bucle para corregir lo necesario en cada nombre de columna 
    name_lowered = name_columns.lower() #codigo para convertir a minisculas 
    new_col_names.append(name_lowered) #acumulando en la lista para aplicar al siguiente nombre
    
df.columns = new_col_names #introduciendo los nombres corregidos al data frame 

print(df.columns)

Index(['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day'], dtype='object')

In [ ]:
# Ahora, utilizando el mismo método, elimina los espacios al principio y al final de los nombres de las columnas 
# e imprime los nombres de las columnas nuevamente:
# Bucle en los encabezados eliminando los espacios
names_no_spaces = [] #Lista para los nombres optimizados
for name_columns in df.columns: #bucle para corregir lo necesario en cada nombre de columna 
    name_striped = name_columns.strip() #codigo para eliminasr espacios 
    names_no_spaces.append(name_striped) #acumulando en la lista para aplicar al siguiente nombre
    
df.columns = names_no_spaces #introduciendo los nombres corregidos al data frame 

print(df.columns)

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

In [9]:
# Necesitamos aplicar la regla de snake_case a la columna userid. Debe ser user_id. Cambia el nombre de esta columna
# y muestra los nombres de todas las columnas cuando hayas terminado.
# Cambiar el nombre de la columna "userid"
df.rename(columns={
'userid': 'user_id', 
},inplace = True)

# Mostrar las columnas para confirmar los cambios
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

In [11]:
# Comprueba el resultado. Muestra los encabezados una vez más:
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

Volver a Contenidos

### 3.2  Valores ausentes

In [12]:
# Primero, encuentra el número de valores ausentes en la tabla. Debes utilizar dos métodos en una secuencia 
# para obtener el número de valores ausentes.
# Calcular el número de valores ausentes
print(df.isna().sum())

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

No todos los valores ausentes afectan a la investigación. Por ejemplo, los valores ausentes en track y artist no son cruciales. Simplemente puedes reemplazarlos con valores predeterminados como el string 'unknown' (desconocido).
Pero los valores ausentes en 'genre' pueden afectar la comparación entre las preferencias musicales de Springfield y Shelbyville. En la vida real, sería útil saber las razones por las cuales hay datos ausentes e intentar recuperarlos. Pero no tenemos esa oportunidad en este proyecto. Así que tendrás que:

•	rellenar estos valores ausentes con un valor predeterminado;

•	evaluar cuánto podrían afectar los valores ausentes a tus cómputos;

Reemplazar los valores ausentes en las columnas 'track', 'artist' y 'genre' con el string 'unknown'. Como mostramos anteriormente en las lecciones, la mejor forma de hacerlo es crear una lista que almacene los nombres de las columnas donde se necesita el reemplazo. Luego, utiliza esta lista e itera sobre las columnas donde se necesita el reemplazo haciendo el propio reemplazo.

In [15]:
# Bucle en los encabezados reemplazando los valores ausentes con 'unknown'
columns_to_replace = ['track', 'artist', 'genre']
for col in columns_to_replace:
    #df[col].fillna('unknown', inplace=True)
    df.fillna({col:'unknown'}, inplace=True) # este metodosustituye al de arriba en la version 3.0 de python

In [16]:
# Contar valores ausentes
print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

Volver a Contenidos

### 3.3  Duplicados 
Encuentra el número de duplicados explícitos en la tabla. Una vez más, debes aplicar dos métodos en una secuencia para obtener la cantidad de duplicados explícitos.

In [17]:
# Contar duplicados explícitos
print(df.duplicated().sum())

3826

In [18]:
# Ahora, elimina todos los duplicados. Para ello, llama al método que hace exactamente esto.
# Eliminar duplicados explícitos
df = df.drop_duplicates()
print(df.head(10))

    user_id                        track            artist   genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile    rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg    rock
2    20EC38            Funiculì funiculà       Mario Lanza     pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice    folk
4  E2DC1FAE                  Soul People        Space Echo   dance
5  842029A1                       Chains          Obladaet  rusrap
6  4CB90AA5                         True      Roman Messer   dance
7  F03E1C1F             Feeling This Way   Polina Griffith   dance
8  8FA1D3BE                     L’estate       Julia Dalia  ruspop
9  E772D5C0                    Pessimist           unknown   dance

          city      time        day
0  Shelbyville  20:28:33  Wednesday
1  Springfield  14:07:09     Friday
2  Shelbyville  20:58:07  Wednesday
3  Shelbyville  08:37:09     Monday
4  Springfield  08:34:34     Monday
5  Shelbyville  13:09:41     Friday
6  Springfield  13:00:07  Wednesday
7  Springfield  20:47:49  Wednesday
8  Springfield  09:17:40     Friday
9  Shelbyville  21:20:49  Wednesday

In [19]:
# Comprobemos ahora si eliminamos con éxito todos los duplicados. Cuenta los duplicados explícitos una vez más
# para asegurarte de haberlos eliminado todos:
# Comprobar de nuevo si hay duplicados

print(df.duplicated().sum())

0

Ahora queremos deshacernos de los duplicados implícitos en la columna genre. Por ejemplo, el nombre de un género se puede escribir de varias formas. Dichos errores también pueden afectar al resultado.
Para hacerlo, primero mostremos una lista de nombres de género únicos, ordenados en orden alfabético. Para ello:

•	Extrae la columna genre del DataFrame.

•	Llama al método que devolverá todos los valores únicos en la columna extraída.

In [20]:
# Inspeccionar los nombres de géneros únicos
print(df['genre'].unique())  #localizados 'hip' 'hiphop' 'hip-hop' 'hop'

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic'
 'unknown' 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'variété'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' 'ïîï' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'französisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forró' 'dirty' 'regional']

Busca en la lista para encontrar duplicados implícitos del género hiphop. Estos pueden ser nombres escritos incorrectamente o nombres alternativos para el mismo género.
Verás los siguientes duplicados implícitos:

•	hip

•	hop

•	hip-hop

Para deshacerte de ellos, crea una función llamada replace_wrong_genres() con dos parámetros:

•	wrong_genres=: esta es una lista que contiene todos los valores que necesitas reemplazar.

•	correct_genre=: este es un string que vas a utilizar como reemplazo.

Como resultado, la función debería corregir los nombres en la columna 'genre' de la tabla df, es decir, remplazar cada valor de la lista wrong_genres por el valor en correct_genre.
Dentro del cuerpo de la función, utiliza un bucle 'for' para iterar sobre la lista de géneros incorrectos, extrae la columna 'genre' y aplica el método replace para hacer correcciones.

In [ ]:
# Función para reemplazar duplicados implícitos
def replace_wrong_genres(wrong_genres, correct_genre):
    for wrong_genre in wrong_genres: #utiliza un bucle 'for' para iterar sobre la lista de géneros incorrectos, 
        #donde con el uso de una nueva variable estas transformado una lista en un string para poder usar el replace
        df['genre'] = df['genre'].replace(wrong_genre, correct_genre) #extrae la columna 'genre' y aplica el método 
        # replace para hacer correcciones. mucho ojo con el formato que requieres en esta linea, para que recuerdes 
        # porque no salia, df['genre'] = df['genre'].replace()
# lista con los valores a reemplazar la columna 'genre'
wrong_genres = ['hip', 'hop', 'hip-hop']
# lista con el valor correcto
correct_genre = 'hiphop'

In [2]:
# Ahora, llama a replace_wrong_genres() y pásale tales argumentos para que retire los duplicados implícitos 
# (hip, hop y hip-hop) y los reemplace por hiphop:
# Eliminar duplicados implícitos
# replace_wrong_genres(wrong_genres, correct_genre)
# Asegúrate de que los nombres duplicados han sido eliminados. Muestra la lista de valores únicos de la columna 
# 'genre' una vez más:
# Comprobación de duplicados implícitos
print(df['genre'].unique())

NameError: name 'df' is not defined

Volver a Contenidos

### 3.4  Tus observaciones 
Describe brevemente lo que has notado al analizar duplicados, cómo abordaste sus eliminaciones y qué resultados obtuviste. Hablando de los duplicados encontrados lo mas probable es que solo fueron errores al momento de asginarles el genero donde hacia falta una silaba o el uso de un guion de parte de quien los califica asi por costumbre. Por medio de una funcion y un bucle, se trabajo en la correcion de los mismos con el fin de obtener los resultados adecuados en la parte siguiente del trabajo

Volver a Contenidos

### 4  Etapa 3. Prueba de hipótesis

#### 4.1  Hipótesis: comparar el comportamiento del usuario o la usuaria en las dos ciudades 
La hipótesis afirma que existen diferencias en la forma en que los usuarios y las usuarias de Springfield y Shelbyville consumen música. Para comprobar esto, usa los datos de tres días de la semana: lunes, miércoles y viernes.

•	Agrupa a los usuarios y las usuarias por ciudad.

•	Compara el número de canciones que cada grupo reprodujo el lunes, el miércoles y el viernes.

Realiza cada cálculo por separado.
El primer paso es evaluar la actividad del usuario en cada ciudad. Recuerda las etapas dividir-aplicar-combinar de las que hablamos anteriormente en la lección. Tu objetivo ahora es agrupar los datos por ciudad, aplicar el método apropiado para contar durante la etapa de aplicación y luego encontrar la cantidad de canciones reproducidas en cada grupo especificando la columna para obtener el recuento.

A continuación se muestra un ejemplo de cómo debería verse el resultado final: df.groupby(by='....')['column'].method()  Realiza cada cálculo por separado.

In [5]:
df.head(5)

NameError: name 'df' is not defined

In [4]:
# Para evaluar la actividad de los usuarios y las usuarias en cada ciudad, agrupa los datos por ciudad y encuentra
# la cantidad de canciones reproducidas en cada grupo.
# Contar las canciones reproducidas en cada ciudad
city_groups = df.groupby('city')['city'].count()
print(city_groups)

NameError: name 'df' is not defined